h3 {
    text-align: center;

}
.deliveryBox{
    height: 200px;
    width: 100%;
    margin: 20px 5px;
    border-left: 5px solid #00C851;
    padding: 20px;
    -webkit-box-shadow: 16px 2px 28px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 2px 28px -21px rgba(0,0,0,0.75);
box-shadow: 16px 2px 28px -21px rgba(0,0,0,0.75);
}
.deliveryBox p{
    font-weight: bold;
}
.deliveryBox span {
    font-weight: 300;
}
.returnBox{
    height: 200px;
    width: 100%;
    margin: 20px 5px;
    border-left: 5px solid #ff4444;
    padding: 20px;
    -webkit-box-shadow: 16px 2px 28px -21px rgba(0,0,0,0.75);
-moz-box-shadow: 16px 2px 28px -21px rgba(0,0,0,0.75);
box-shadow: 16px 2px 28px -21px rgba(0,0,0,0.75);
}
.returnBox p{
    font-weight: bold;
}
.returnBox span {
    font-weight: 300;
}