.loginBlock 
{   
    position: absolute;
    display: block;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:400px;
    border-radius: 25px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -7px rgba(0,0,0,0.75);
}

.loginBlock button {
    float: right;
    margin-top: 10px;
}